

.BadgeItem {

	border: 0.5px solid #ddd;
	border-radius: 10px;

	padding: 20px 15px;
	margin: 15px 0;

	list-style: none;
	display: flex;
	justify-content: flex-start;

	background-color: white;
	box-shadow: 5px 5px 5px #ababab

}

.BadgeItem:hover {
		box-shadow: 10px 10px 10px #ababab

}

.BadgeItem__avatar {
	border-radius: 90px;
	min-width: 90px;
	max-height: 90px;
	max-width: 120px;
	max-height: 120px;

}

.BadgeItem__details {
	padding: 0 10px;

}

.BadgeItem a {
	text-decoration: none;
	display: flex;
	align-items: center;
}

/*
{

	avatar
	nombre + apellido
	twitterIcon
	twitterUser
	jobTitle

}

*/